{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
<title>{% block head_title %}Feed Me! A CMS App{% endblock head_title %}</title>
<!-- Latest compiled and minified CSS -->

<!-- Optional theme -->

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' >

<link href="http://vjs.zencdn.net/5.16.0/video-js.css" rel="stylesheet">

<link href='{% static "videojs-preroll.css"%}' rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='{% static "videojs.markers.css" %}' rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>

<link rel="stylesheet" href="http://vjs.zencdn.net/5.0/video-js.min.css">
<link rel='stylesheet' href='{% static "css/base.css" %}' />

<link rel='stylesheet' href='{% static "css/base.css" %}' />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

</head>
    <body background-size: 80px 60px; backdrop-filter: 'blur(5px)' background= 'https://images5.alphacoders.com/454/454233.jpg'>


        <div class='container'> 
            <div class="well" style= "background-color: rgba(245, 245, 245, 0.70);" style="float: left;">
               <h1 style="margin-top: 10px;"><font face="Raleway" color=" #990033"><b> FeedMe! A CMS Project</b></font></h1>
                    {% if request.user.is_authenticated %}
                    <p style="font-size:30px"><font face="Raleway" color="Black"><b> Welcome {{ request.user.username.title }}</b></font></p>
                    <a class="btn btn-success" href = '../../insert/'>Upload A Video</a>
                    <a class="btn btn-success" href = '../../fav/'>My Fav Videos</a>
                    <a class="btn btn-danger" onclick="premiummember()" >Premium Member!</a>
                    <a class="btn btn-danger" href = '../../notification/' >Your Subscribed Videos</a>

                    <a class="btn btn-warning" href = '../../search/'>Search A Video</a>
                    <button type="button" class="btn btn-danger pull-right"  onclick="logout()" >Logout</button><br/><br/>
                    {% if request.user.is_superuser %}
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Admin Console
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href = '../../adminreport/'>Admin</a></li>
                          <li><a href = '../../useranalytics/'>User Analytics</a></li>
                          <li><a href = '../../analytics/'>Video Analytics</a></li>
			  <li><a href = '../../quiz/'>Quiz Analytics</a></li>
	
                          <li><a href = '../../formreport/'>Video Quiz Data</a></li>
                          <li><a href = '../../mostviewed/'>Most Viewed videos</a></li>
                        </ul>
                    </div>
                 
                    {% endif %}
                {% endif %}
  
                 </div>   
            </div>
            {% block content %}

            {% endblock content %}
        </div>

          <!-- Modal -->
    </body>

    
    <script src="http://vjs.zencdn.net/5.16.0/video.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-ads/4.2.5/videojs.ads.js"></script>
    <script src='{% static "videojs-preroll.js" %}'></script>
    <script src='{% static "videojs-markers.js" %}'></script>

    <script>
    function checkLoginState() {
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '393429464366767',
                version    : 'v2.8',
                status: true, 
                cookie: true, 
                xfbml: true, 
                oauth:true
            });

            if (typeof(FB) != 'undefined' && FB != null ) {
                FB.login(function(response) {
                    // console.log(response);
                    // console.log(FB.getAuthResponse()['accessToken']);
                    FB.api('/me', { locale: 'en_US', fields: 'name, email' }, function(response){
                        var data = {
                                    email:response.email, 
                                    name:response.name,
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    authtoken:FB.getAuthResponse()['accessToken']
                            };
                        $.post("../../facebook/", data,function(data,status){
                            console.log("\nStatus: " + status);
                            if (status == "success"){
                                $(location).attr("href", "../../landing/");
                            }
                        });
                    });
                }, {'scope':'email'});
            }
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }
        (document, 'script', 'facebook-jssdk'));


    }

    function logout() {

        window.fbAsyncInit = function(){
            FB.init({
                appId      : '393429464366767',
                version    : 'v2.8',
                status: true, 
                cookie: true, 
                xfbml: true, 
                oauth:true,
            });

                FB.getLoginStatus(handleSessionResponse);

                function handleSessionResponse(){
                    if (FB.getAccessToken()) {
                        FB.logout(function(response) {
                            window.location = '{% url "logout" %}';
                        });
                    }
                    else {
                        window.location = '{% url "logout" %}';
                    }
                }
              
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }
        (document, 'script', 'facebook-jssdk'));
    }


    </script>
<script src="http://players.brightcove.net/3676484086001/8fb8f3c6-5b2b-471f-953c-56d65267ff11_default/index.min.js"></script>
<script src='{% static "videojs.cuepoints.js" %}'></script>
<script src='{% static "videojs.endcapCTA.js" %}'></script>
<link href="https://walsh9.github.io/videojs-transcript/css/videojs-transcript.css" title="Example 1" rel="stylesheet">
<link href="https://walsh9.github.io/videojs-transcript/css/videojs-transcript2.css" title="Example 2" rel="alternate stylesheet">
<link href="https://walsh9.github.io/videojs-transcript/css/videojs-transcript3.css" title="Example 3" rel="alternate stylesheet">
<script src= "https://walsh9.github.io/videojs-transcript/dist/videojs-transcript.js"></script>
<script src="//cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js"></script>
<script src="http://www.sc.gl/cdn/videojs-hotkeys/latest/videojs.hotkeys.js"></script>

<script type="text/javascript">
    var video = videojs('my-video').ready(function(){
      // Set up any options.
      var options = {
        showTitle: false,
        showTrackSelector: false,
      };

      // Initialize the plugin.
      var transcript = this.transcript(options);

      // Then attach the widget to the page.
      var transcriptContainer = document.querySelector('#transcript');
      transcriptContainer.appendChild(transcript.el()); 
    }); 

videojs('my-video').ready(function() {
  this.hotkeys({
    volumeStep: 0.1,
    seekStep: 5,
    enableModifiersForNumbers: false
  });
});

</script>

<script type="text/javascript">


    var video = videojs('my-video');
    var text = "{{markers}}";
    abc = text.replace(/&quot;/g, '\"');
    efg = abc.replace(/&#39;,/g, '');
    x = efg.replace(/&#39;/g, '');
    var myjson = JSON.parse("["+x+"]");
    // var ijk = [{time: 9, text: "this"},{time: 15,  text: "is"},{time: 1,text: "so"},{time: 7,  text: "cool"}];
     //load markers
     video.markers({
        markers: myjson
     });
     console.log("{{tom}}");
    console.log("For Loop Enterd");
    {% if tom != None %}
	console.log("You are a premium user");
    {% else %}
    console.log("Not A Premium Member");
    videojs('my-video', {}, function(){ 
         var player = this;
          player.preroll({
          src:'http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4'});
         });
      
    {% endif %}

    // transcript

var player = videojs('my-video', {
  html5: {
    nativeTextTracks: false
  }
});

    var video = videojs('my-video')
    player.textTracks()
    // var video = videojs('my-video').ready(function () {
    //     // Set up any options.
    //     var options = {
    //         showTitle: false,
    //         showTrackSelector: false,
    //     };

    //     // Initialize the plugin.
    //     var transcript = this.transcript(options);

    //     // Then attach the widget to the page.
    //     var transcriptContainer = document.querySelector('#transcript');
    //     transcriptContainer.appendChild(transcript.el());
    // });


   video.endcapCTA({
      html: '<section class="endcapCallToActionContent"><div id="loveToHearForm"></div></section>',
      run: function() {
        // This runs upon creation of endcapCTA, just after video starts playing
      }
    });
    function watchAgain() {
      video.play();
    }
    function submitAndSpin() {
      $('.sending').show();
      return false;
    }
    // quiz things start here ....!!



    {%if tom != None %}
        console.log("You are a premium user");
    {% else %}
    
    var jwplayer = videojs('my-video');
    jwplayer.pause();
// quiz starts here

    videojs("my-video").ready(function(){
        var myPlayer = videojs('my-video');
        this.cuepoints();
        this.addCuepoint({
            namespace: "logger",
            start: 02,
            end: 30,
            onStart: function(params){
                if(params.error){
                    console.error("Error at second 0");
                }else{
                    console.log("Log at second 0");
                                   var falsebuttondiv = document.createElement("div");
 myPlayer.pause();
                }
                 var clicked = false;
            var ques = 'What is your favorite cuisine?'

            if (true) {
                clicked = true;
                jwplayer.pause();
                var bgdiv = document.createElement("div");
                var texdiv = document.createElement("div");
                var quizform = document.createElement("form");
                var quizquestion = document.createElement("div");
                var truebutton = document.createElement("input");
                var truebuttondiv = document.createElement("div");
                var falsebutton = document.createElement("input");
                var falsebuttondiv = document.createElement("div");
                
                var breaktag = document.createElement('br');
                // var submit = document.createElement("button");
                var submit = document.createElement('a');
                //if (jwplayer.getRenderingMode() == "html5"){
                var theBody = document.getElementById(player.id());
                // } else {
                //  var theBody = document.getElementById(player.id()+"_wrapper");
                // }
                var playerWidthPX2 = theBody.style.width;
                var playerWidthPX = parseFloat(playerWidthPX2);
                var playerHeightPX2 = theBody.style.height;
                var playerHeightPX = parseFloat(playerHeightPX2);

                bgdiv.setAttribute('id', 'bg');
                bgdiv.style.height = playerHeightPX + "px";
                bgdiv.style.width = playerWidthPX2;
                bgdiv.style.background = "#333333";
                bgdiv.style.opacity = "0.70";
                bgdiv.style.position = "absolute";
                bgdiv.style.zIndex = "900";

                texdiv.style.textAlign = "center";
                texdiv.style.paddingTop = playerHeightPX / 2.0;

                quizquestion.innerHTML = ques;
                quizquestion.style.fontFamily = "arial,_sans";
                quizquestion.style.fontSize = "18px";
                quizquestion.style.color = "#ffffff"

                truebuttondiv.innerHTML = 'INDIAN';
                truebuttondiv.style.color = "#ffffff";
                truebutton.name = 'quizanswer';
                truebutton.value = 'Indian';
                truebutton.type = 'radio';
                truebutton.setAttribute('id', 'Indian');
                truebutton.style.fontFamily = "arial,_sans";


                falsebuttondiv.innerHTML = 'MEXICAN';
                falsebuttondiv.style.color = "#ffffff"
                falsebutton.name = 'quizanswer';
                falsebutton.value = 'Mexican';
                falsebutton.type = 'radio';
                falsebutton.setAttribute('id', 'Mexican');
                falsebutton.style.fontFamily = "arial,_sans";

                var message = 'Submit';
                submit.innerHTML = message;
                submit.href = "#";
                submit.style.textDecoration = "none";
                submit.style.outline = "0";
                submit.style.MozUserSelect = 'none';
                submit.style.KhtmlUserSelect = 'none';
                submit.style.WebkitUserSelect = 'none';
                submit.style.OUserSelect = 'none';
                submit.style.UserSelect = 'none';
                submit.style.fontSize = "18px";
                submit.style.color = "#ffffff";
                submit.style.fontFamily = "arial,_sans";
                submit.setAttribute('id', 'txt');

                theBody.appendChild(bgdiv);
                bgdiv.appendChild(texdiv);
                texdiv.appendChild(quizform);
                quizform.appendChild(breaktag);
                quizform.appendChild(quizquestion);
                quizform.appendChild(breaktag);
                quizform.appendChild(truebuttondiv);
                truebuttondiv.appendChild(truebutton);
                quizform.appendChild(breaktag);
                quizform.appendChild(falsebuttondiv);
                falsebuttondiv.appendChild(falsebutton);
                falsebuttondiv.appendChild(falsebutton);
                quizform.appendChild(breaktag);
                quizform.appendChild(submit);
                quizform.appendChild(breaktag);

                var errordiv = document.createElement("div");
                errordiv.innerHTML = 'Incorrect Answer. Try again!';
                errordiv.style.visibility = "hidden";
                errordiv.style.color = "#ffffff";
                quizform.appendChild(errordiv);
                quizform.appendChild(breaktag);
                submit.onmouseup = function () {
                    if ((document.getElementById("Indian").checked) || (document.getElementById("Mexican").checked)) {
                        bgdiv.style.display = "none";
			var ans;
			if ((document.getElementById("Indian").checked)){
				ans = document.getElementById("Indian").value;
			}
			else{
                        	ans = document.getElementById("Mexican").value;
			}
                        var formData = { id:'{{instance.id}}', csrfmiddlewaretoken: '{{ csrf_token }}',user:'{{request.user}}', form:ans};
                             $.ajax({
                               type: "POST",
                              url: "../../formdata/",
                                 data: formData,
                                    success: function(data) {
                                        console.log("sucess Submitted the form");
                                                                    },
                                        statusCode: {
                                                      500: function() { 
                                                                        console.log("You  this video ");
                                                                       }
                                                      },
                                    })
                                
                        jwplayer.play();
                    }
                    else {
                        errordiv.style.visibility = "visible";
                    }

                }
                quizform.style.zIndex = "999";
                submit.style.zIndex = "2000";
                truebutton.style.zIndex = "999";
                falsebutton.style.zIndex = "999";

            }

            },
            onEnd: function(params){
                console.log("Action ends at second 30");
                myPlayer.play();
            },
            params: {error: false}
        });
    });
    {% endif %}

</script>
<script src='{% static "dist/videojs-playlist.js" %}'></script>
<script src='{% static "dist/videojs-playlist.min.js" %}'></script>
<script>
    var player = videojs('my-video');

    player.playlist([{sources: [{
    src: "{{instance.video.url}}",
    type: 'video/mp4'
  }],
}, 

{
{% for obj in queryset%}
{% if obj.cusine_type == instance.cusine_type %}
  sources: [{
    src: "{{obj.video.url}}",
    type: 'video/mp4'
  }],
{% endif %}
{% endfor %}
}, 


]);
player.playlist.currentItem();

function previous(){
player.playlist.previous();
}
function next(){
player.playlist.last();


}
</script>

<script type="text/javascript">


  var daaa ={ csrfmiddlewaretoken: '{{ csrf_token }}',user:'{{request.user}}'};
    function premiummember() {
                            $.ajax({
                                        type: "POST",
                                        url: "../../premiummember/",
                                        data: daaa,
                                           success: function(data) {
                                                                    alert("You have sucessfully Subscribed this video now you dont need to fill the form in video");
                                                                    },
                                        statusCode: {
                                                      500: function() { 
                                                                        alert("Your already A  Premium Member");
                                                                       }
                                                      },
                                    })
};


</script>


<script type="text/javascript">

{% for n in notification %}
    {% if n == "No Notification" %}
    $.notify("No Notification");
    {% else %}
    $.notify(" Latest Video Uploaded by :-{{n.uploaded_by | safe}}");
    {% endif %}
{% endfor %}



</script>


<link rel='stylesheet' href='{% static "videojs.afk-monitor.min.css" %}' />
<script src='{% static "videojs.afk-monitor.min.js" %}'></script>


<script>

    var video = videojs('my-video');
    video.AFKMonitor();

</script>

</html>




