{% extends "base.html" %}



{% block content %}

    <div style= "background-color: rgba(245, 245, 245, 0.4);" class='well col-sm-6 col-sm-offset-3'>
		<h1 style="color:black;">ADMIN PAGE</h1> 
		<h2 Style="color:black">Most Viewed Videos</h2>	
      
      {% for obj in object_list|dictsort:"views_set.count" reversed %}

          <div class="row">
            <div class="col-sm-8">
            <div class="well">
              <div class="caption">
                   <p><big><font color="#000000"> {{ obj.title}}</font> </big> </p> 
                <a href="../../videodetail/{{ obj.id }}/">
                    <video width="200" controls name='media'>
                      <source src="{{obj.video.url}}" type="video/mp4">
                    </video>
                    <p><small> Cusine {{ obj.cusine_type}} </small> </p>
                    <p><small> Uploaded On:-{{ obj.timestamp.date}} </small> </p>
                    <p><small> Added By:-{{ obj.uploaded_by}}</small> </p>
                    <p><small> Duration:-{{ obj.time|time:"H:i:s" }}</small> </p>
                    <p><small> Views:- {{ obj.views_set.count }} </small> </p>
                    <p><small>Likes:- {{obj.rating_set.count}}</small></p>
                </a>
                <a class="btn btn-warning" href="../../videodetail/{{ obj.video.id }}/">Video see here</a>
              </div>
            </div>
          </div>
    </div><br/>
    {% endfor %}



    <div class="pagination">
      <span class="step-links">
          {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}&q={{request.GET.q}}"><font size="5">previous</font></a>
          {% endif %}

          <span class="current">
              <font size="5"> </font>{{ object_list.number }}  {{ object_list.paginator.num_pages }}.
          </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}&q={{request.GET.q}}"><font size="5">next</font></a>
        {% endif %}
      </span>
    </div>

{% for message in messages %}
    <script>alert('{{message}}');
    console.log(typeof("{{message}}"));
    </script>
{% endfor %}

{% endblock content %}
